body{
    font-family: 'Open Sans', sans-serif;
    background-color:#000;
    color: #fff;
}

.nav-logo{
    width:40px;
}

nav.active{
    background-color: white;
}

nav.active .navbar-brand,
nav.active a{
   color: #17a2b8 !important; 
}

hr{
    background-color: #17a2b8;
}

#quienes-somos span{
    display: block;
    padding:0.5em;
    text-align: center;
    margin: .5em 0;
}

footer p{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}
footer a{
    color: #fff;
}
footer a:hover{
    color: #168798;
}