body{
    font-family: 'Open Sans', sans-serif;
    background-color:#000;
    color: #fff;
}

.nav-logo{
    width:40px;
}

nav.active{
    background-color: white;
}

nav.active .navbar-brand,
nav.active a{
   color: #17a2b8 !important; 
}

.navbar-toggler{
    background-color: #17a2b8;
}

hr{
    background-color: #17a2b8;
}

#quienes-somos span{
    display: block;
    padding:0.5em;
    text-align: center;
    margin: .5em 0;
}

.card img{
    max-height: 150px;
}

footer p{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}
footer a{
    color: #fff;
}
footer a:hover{
    color: #168798;
}

.gatito{
    text-align: right;
}

.gatito p{
    text-align: left;
}

@media screen and (max-width:680px){
    .gatito{
        text-align: center !important;
    }

    .gatito p{
        text-align: center;
    }
    
}


